@import url('https://fonts.googleapis.com/css?family=Questrial');

$font-family: Questrial, sans-serif;
$primary-color: #A8DADC;
$secondary-color: #457B9D;
$text-color: black;

$border-radius: 20px;
$tablet: 768px;
$desktop: 960px;


* {
  box-sizing: border-box;
  color:$text-color;
}

body {
  font-family: $font-family;
  background-color: $primary-color;

  h1,h2,p {
    color: $text-color;
  }
}
//flip card styling

.movie-card {
  perspective: 500px;
  width: 233px;
  height:350px;

  display: flex;
  //height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  //width: 100%;
  padding-bottom:10px;
  //border: 1px solid darkgray;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  //box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.movie-card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  display: flex;
  height: 100%;
  width: 100%;
  background: $primary-color;
  text-align: center;
  border-radius: $border-radius;
  backface-visibility: hidden;
}

.front {
  position:absolute;
}

.back {
  position: absolute;
  display: flex;
  align-content:center;
  margin: auto 0;
  background: $secondary-color;
  transform: rotateY( 180deg );
}


.movie-display {
  display:grid;
  justify-items:center;

  background-color: $primary-color;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, calc(100% / 3 ));
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, calc(100% / 4 ));
  } 
}

.movie-card .back div {
  background-color: $secondary-color;
  display: block;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  border-radius: $border-radius;
  //min-height: 350px;
  //height:400px;
  //border:3px solid purple;
}

.movie-card .back div span{
  margin:auto;
}

.poster{
  margin: 0;
  width: 100%;
  height: min-content;
  border-radius: $border-radius;
  object-fit: contain;
  //border: 1px solid black;
}

.search {
  margin-bottom: 10px;
}
.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
